*,
*:before,
*:after {
   position: relative;
}
#hole,
#mole {
   width: 340px;
   position: absolute;
}

img {
   margin: 5px;
}
img[data-active='true'] {
   z-index: 34534;
}
img[data-active='false'] {
   z-index: 9;
}
